venv/
import numpy as np
import pandas as pd 
import yfinance as yf
import matplotlib.pyplot as plt
data = yf.download("^SP500TR", start = "1985-01-01", end = '2025-01-01', progress=False, auto_adjust=True)
print(data.head(2))


close_prices = data[['Close']]
print(close_prices.head(2))


returns = close_prices.pct_change().dropna().values.flatten()
nobs = len(returns)
nboot = 10000  # number of bootstrap samples

boot_returns = np.random.choice(
    returns,
    size=(nboot, len(returns)),
    replace = True )

terminal_wealth = 1 * np.prod(1 + boot_returns, axis=1)

mean = terminal_wealth.mean()
q05 = np.percentile(terminal_wealth, 5)

plt.hist(terminal_wealth, bins=100, density=True)
plt.axvline(1, color='red', linestyle='--', label='Initial Wealth')
plt.xlabel('Terminal Wealth')
plt.ylabel("Density")
plt.legend()
plt.show()
print('The 5% percentile is equal =' , q05)